data/
BOLT-LMM_v2.5/
*.tar.gz
__pycache__/
.venv/
code/.venv/
code/__pycache__/
code/log/
*.pyc
*.pdf
midterm.md
reasearch.md
pca_all_plot.png
pca_plot.png
pca_plot.py
pyrightconfig.json
interactive_pc_sweep.html
interactive_admixture_sweep.html
